.products {
}
.products-item {
  padding: 1rem;
  text-align: center;
  border-radius: 10px;

  margin: 1rem;
  border-style: outset;
  background-color: #aae49d;
  width: 250px;
  height: 200px;
}
.products-item .products-itemImage {
  object-fit: contain;
  max-width: 10rem;
  max-height: 10rem;
  border-radius: 10px;
}
.products-item .icon-heart {
  position: relative;
  left: 6rem;
  bottom: 16rem;
}
.products-item .products-itemButton {
  width: 7rem;
}
.product-detailImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product-buttonGroup {
  align-items: center;
  text-align: center;
  text-align: center;
}

.product-detailName {
  height: 10rem;
}
.p-count {
  border: 1px solid black;
  height: 2rem;
  width: 100%;
}
.p-reduce {
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 5px 0px 0px 5px;
}
.p-increase {
  height: 2rem;
  border-radius: 0px 5px 5px 0px;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 1rem;
}
.products-detailBuy {
  background-color: #69D84F;
  width: 70%;
  height: 3rem;
  text-align: center;
  margin: 1rem;
}
.products-detailAddToCart {
  background-color: rgb(238, 219, 200);
  border: #69D84F solid 1px;
  color: black;
  height: 3rem;
  margin-right: 2rem;
  width: 70%;
  text-align: center;
  margin: 1rem;
}
.product-detail {
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
  margin: 1rem;
  border-style: outset;
  background-color: white;
}
.product-describe {
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem;
  border-style: outset;
  background-color: white;
}
.product-comment {
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem;
  border-style: outset;
  background-color: white;
}
.p-Button {
  border: none;
  background-color: white;
}
.product-comment .comment-guest {
  margin: 2rem 0 2rem 0;
}
.product-comment .comment-infor {
  text-align: center;
}
.product-comment .comment-title {
  width: 10rem;
}
.product-comment .comment-input {
  width: 90%;
  height: auto;
  padding: 1rem;
  border: 0px;
  border-bottom: 1px solid;
  outline: none;
  overflow: hidden;
  justify-content: end;
  align-items: end;
  resize: both;
}
.product-comment .comment-buttonSubmit {
  width: 7rem;
  height: 3rem;
  border: 1px solid grey;
  background-color: #69D84F;
  margin-left: 1rem;
}
.product-comment .comment-form {
  width: 100%;
  margin-left: 2rem;
}
.product-comment .usercomment {
  align-items: center;
  justify-content: center;
}

.comment-display {
  margin: 1rem;
  width: 80%;
}
.comment-display .word-wrap {
  word-break: break-all;
}
.product-comment .comment-title {
  width: 100%;
}
