.profile .profile-avatar{
    width:16rem;
    height: 16rem;
    border-radius: 8rem;
}
.profile{
    background-color: white;
    padding: 3rem;
}
.profile .profile-buttonLogout{
    width: 10rem;
    background-color: orangered;
    margin-top: 3rem;
    margin-left: 3rem;
}