.checkStep-active{
  
    border-top: solid 5px;
    text-align: center;
    color: #69D84F;
}
.checkStep{
  
    border-top: solid 5px;
    text-align: center;
    color: #ccccb3;
}
.form-shipping{
   

   
  text-align: center;
   
}
.form-shipping .input-shipping{
    width: 50px;
    height: 2.5rem;
    border-radius: 5px;
    border: solid 1px;
    border-color: gray;
    padding-left: 1rem;
}
.form-shipping  .button-shipping{
    background-color: hsl(39, 100%, 50%);
    margin-top: 3rem;
}
.form-shipping  .label-shipping{
  
   text-align: start;
   width: 27rem;
}